@import url("https://fonts.googleapis.com/css2?family=Bai+Jamjuree:wght@400;600&display=swap");
/* font-family: 'Bai Jamjuree', sans-serif; */
:root {
  /* Primary */
  --strong-cyan: hsl(171, 66%, 44%);
  --light-blue: hsl(233, 100%, 69%);
  /* Nuetral */
  --dark-grayish-blue: hsl(210, 10%, 33%);
  --grayish-blue: hsl(201, 11%, 66%);
  /* Typograpghy */
  --font-size: 18px;
  --font-weight-normal: 400;
  --font-weight-heading: 600;
}
h2,
h3 {
  font-family: "Bai Jamjuree", sans-serif;
  font-weight: 700 !important;
  color: var(--dark-grayish-blue) !important;
}
p {
  font-family: "Bai Jamjuree", sans-serif;
  font-weight: 400 !important;
  color: var(--grayish-blue) !important;
}
.btn-green {
  background-color: var(--strong-cyan) !important;
  color: white !important;
}
.btn-blue {
  background-color: var(--light-blue) !important;
  color: white !important;
}
.container:first-of-type {
  /* background-image: url(images/bg-header-mobile.png); */
  background-repeat: no-repeat;
}
footer {
  background-color: #fcfcfcfc;
}