@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap");
* {
  font-family: "Outfit", sans-serif;
}
:root {
  --white: hsl(0, 0%, 100%);
  --light-gray: hsl(212, 45%, 89%);
  --grayish-blue: hsl(220, 15%, 55%);
  --dark-blue: hsl(218, 44%, 22%);
}
body {
  background-color: var(--light-gray) !important;
}
.rounded-4 {
  background-color: var(--white);
}
h4.text-center {
  color: var(--dark-blue) !important;
  font-weight: 700;
}
p {
  color: var(--grayish-blue) !important;
}